body{
    background-color: black;
}

div {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div::after {
    content: "";
    background: url('images/background.png');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;     
}