---
---

@import "{{ site.theme }}";

body{
    background-color: #e0e1DD;
};

.wrapper{
    background-color: #778DA9;
};

.project-name{
    font-size: 2em;
    color: #1B263B;
};


h1 {
    font-size: 2em;
};

blockquote{
    font-variant: normal;
    text-decoration: none;
    font-style: normal;
    color: #0D1B2A;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #415A77;
};

p{
    color: #0D1B2A;
};

a{
    color: #e0e1DD;
};
